<div class="dynamic-field form-input" [formGroup]="group">
    <label>{{ config.label }}</label>
    <p-password [placeholder]="config.placeholder" [formControlName]="config.name" [toggleMask]="true"></p-password>

    <div *ngIf="group.get(config.name)?.invalid && (group.get(config.name)?.touched || group.get(config.name)?.dirty)"
        class="error-message">
        <div *ngIf="group.get(config.name)?.errors?.['required']; else minlengthError">Password Required</div>
        <ng-template #minlengthError>
            <div *ngIf="group.get(config.name)?.errors?.['minlength']; else patternError">Password must be at least 8
                characters long</div>
        </ng-template>
        <ng-template #patternError>
            <div *ngIf="group.get(config.name)?.errors?.['pattern']; else confirmPasswordError">Password must contain at
                least one letter and one number</div>
        </ng-template>
        <ng-template #confirmPasswordError>
            <div
                *ngIf="config?.name == 'confirmPassword' && (!group.controls['confirmPassword'].errors?.['matched'] ||  !group.controls['password'].errors?.['matched']) && group.controls[config.name].touched && group.controls[config.name].dirty">
                Password do not match</div>
        </ng-template>
    </div>
</div>